$--purple: #A588E7;
$--purple-dark: #805AD5;
$--background: #212734;
$--background-dark: #1A202C;

$--border-grey: #606062;
$--text-green: #61E224;
$--text-red: #FF0000;
$--notification-red: #E04F44;
$--menu-active: #2B3548;

$--table-header: #272e3c;